
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  margin: auto;
}

.logo {
  width: 100px;
  height: auto;
  margin: 0;
  margin-right: 200px;
}

.menu {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  margin-right: 200px;
}

.menu a {
  margin-right: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: green;
}

.services {
  display: flex;
  justify-content: center;
}

.services li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.services li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.services li a:hover {
  color: green;
}
